<%- include("include/_header") %>

<!-- Start Main -->
<main>
  <div class="container">
    <div class="mainTitle">
      <a href="/">All Users</a>
      <h3>New User</h3>
      <p>Use below form to create a new account</p>
    </div>
    <%- include("include/_form") %>
  </div>
</main>

<!-- End Main -->

<%- include("include/_footer") %>
