<tbody>
  <td>1</td>
  <td>Hamza</td>
  <td>hamza@gmail.com</td>
  <td>Male</td>
  <td>Active</td>
  <td>
    <a href="/update-user" class="btn btn-info">
      <i class="fa-solid fa-pencil"></i>
    </a>
    <a href="#" class="btn btn-danger">
      <i class="fa-solid fa-trash"></i>
    </a>
  </td>
</tbody>
